.container{
width:60%;
background-color:darkblue;
height: 150px;
box-shadow: 2px 3px 2px 2px darkgrey;
border: 2px solid red;
border-radius: 10px;
margin-left: 200px;
}
.container>input{
width:80%;
margin:10px;
padding:10px;
border: 1px solid black;
border-radius: 10px;
background-color: rgb(42, 165, 97);
}
h1{
  text-shadow:2px 2px 2px rgb(255, 0, 0);  
  margin-right: 100px;
  text-align: center;
  margin-left:50px;
  color:gold;
  margin: 20px;
}
button{
  background-color: red;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
label{
  
  color:gold;
  font-style:initial;
}